.idea/
.vscode/
node_modules/
build/
tmp/
temp/
venv/
src/ml-models/best.pt
src/ml-models/xgb_model.json
src/ml-models/columns_list.json
processed_images/
uploads/
venv
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
